:root {
    --mpink:#FD00E0;
    --mblue:#0007FD;
    --mgrey:#d1cfcf;
}

body {
    background-color: rgb(31, 31, 31);
}

.navbar {
    background-color: rgb(41, 40, 40);
    box-shadow: 2px 2px 10px rgb(20, 20, 20);
}

.pink {
    color: #FD00E0;
}

.dark_pink {
    color: #B300E3;
}

.purple {
    color: #870CFA;
}

.blue_purple {
    color: #3700E3;
}

.blue {
    color: #0007FD;
}
audio {
    /* align-items: center; */
    width: 100%;
    margin: 10px;
}

p.title {
    font-size: 18px;
    margin-bottom: 1%;
}

p.artist {
    font-size: 12px;
}

img {
    width: 100px;
}

.music-item {
    outline: solid var(--mgrey) 1px;
}

#refresh {
    float:right;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    outline: transparent;
}

.material-icons {
    vertical-align: middle;
}

.btn{
    border-radius: 0 !important;
}

button.delete {
    color:white;
}

button.delete:hover {
    color:rgb(109, 109, 109)
}

input.form-control {
    background-color: #343a40;
    color: transparent;
    border-radius: 0 !important;
}

span.input-group-text {
    background-color: #343a40;
}

div.popover-body {
    color:white;
    background-color: indianred;
    /* position: absolute; */
}

.popover .arrow {
    display: none;
}

img#qrCode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
}

table {
    color: white;
    align-content: center;
}

td {
    padding: 10px;
}

td.url {
    width: 90%;
}

a {
    text-align: right;
}